<div class="container">
  <h1>日本語の作文提案ジェネレータ /<br> Gerador de Sugestões de Redações em Japonês</h1>

  <button id="myButton">Gerar!</button>
  <div id="result" style="display: none;">
    <div>
      <h2>Tópico:</h2>
      <h3 id="topic"></h3>
    </div>
    <h2>Possíveis Construções Gramaticais:</h2>
    <ul id="constructions"></ul>
  </div>
</div>



<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
</style>


<script>
  const button = document.querySelector("#myButton");
  const responseDiv = document.querySelector("#result");
  const topicDiv = document.querySelector("#topic");
  const constructionsList = document.querySelector("#constructions");

  button.addEventListener("click", function() {
    responseDiv.style.display = "none";

    fetch("/generate", {method: "POST"})
      .then(response => response.json())
      .then(data => {
        console.log(data)
        console.log("================")
        console.log(data.construction)
        // Access the 'text' key in the JSON response\
        responseDiv.style.display = "block";
        topicDiv.textContent = data.topic;
        constructionsList.innerHTML = data.construction.map(([construct, expl]) => `<li>${construct} ${expl}</li>`).join('');

      }).catch(error => {
      console.error(error);
      responseDiv.textContent = "An error occurred while generating the text.";
    });;
  });
</script>
